.place{
    font-size: 13;
}
.info{
    font-size: 30;
}
.name{
    font-size: 30;
    color: gray;
}
.school{
    font-size: 30;
}
.hobbies{
    color: white;
}
body{
    background: url("jap.webp");
    background-repeat: ;
}
.hob{
    font-size: 20;
}
.sk{
    font-size: 20;
}