h1{
    color:brown;
    background-color:black;
    font-size: ;
}
h2{
    color: blueviolet;
}
strong{
    background-color: burlywood;
}
body{
    background: url("wp8517728.jpg");
    background-repeat: no-repeat;
}

.special_heading{
    color: blue;
}
.
#heading-style{
    colour: green;
}